.DS_Store
**/.bash*
**/*.swp
**/*.swo
**/*cert.pem
**/*key.pem
tmp
log
mongodb/data/*
redis/data/*
webapp/.config
webapp/npm-debug.log
webapp/node_modules
webapp/.npm
**/*.env
*.tar.gz
*.tgz
*.zip
letsencrypt/*
**/.dbshell
**/.mongorc.js
