	<div class="container top-bar">
		<div class="top-bar-left">
			{{ siteTitle }}
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="/accounts">Login / Signup</a></li>
			</ul>
		</div>
	</div>
