<header>
	<section>
		<nav>
			<img src="/img/logo-default.png" alt="default sized logo" width="200" height="100">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Section 1</li>
				<li>Section 2</li>
				<li>Login/Signup</li>
			</ul>
		</nav>
	</section>
</header>
