    <div class="row">
      <div class="large-12 columns">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>{{body.h1_1}}</h3>
					<p>{{{body.p1}}}</p>
          <div class="row">
            <div class="large-4 medium-4 medium-push-2 columns">
							<h4>{{body.h3_1}}</h4>
              <p>{{{body.p2}}}</p>
            </div>
            <div class="large-4 medium-4 medium-pull-2 columns">
							<h4>{{body.h3_2}}</h4>
              <p>{{{body.p3}}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>Here&rsquo;s your basic grid:</h5>
        <!-- Grid Example -->

      </div>

      <div class="large-4 medium-4 columns">
        <h5>Try one of these buttons:</h5>
      </div>
    </div>

